<div class="sidebar">
    <div class="chart titled-box quick-links">
        <h2>Quick links</h2>
        <div class="content">
          <ol class="list">
            <li class="link"><a href="https://support.apple.com/en-us/HT201222">Apple security updates</a></li>
          </ol>
        </div>
    </div>
    <div class="chart titled-box quick-links">
        <h2>${CategoriesLabel}</h2>
        <div class="content">
            <ol class="list">
                ${category_list}
            </ol>
        </div>
    </div>
</div>
